/* style.css - Punto de entrada CSS modular */

/* Variables y Base */
@import url('variables.css');
@import url('base.css');

/* Componentes Modulares */
@import url('components/home.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/navigation.css');
@import url('components/forms.css');
@import url('components/auth.css');
@import url('components/product.css');
@import url('components/cart.css');
@import url('components/shop.css');
@import url('components/pages.css');
@import url('components/admin.css');

/* Utilidades */
@import url('utilities.css');
