.grid {
    display: grid;
}

.flex {
    display: flex;
}

.gap-sm {
    gap: .5rem;
}

.gap-md {
    gap: 1rem;
}

.text-muted {
    color: var(--color-text-muted);
}

.mt-md {
    margin-top: 1rem;
}

.mb-md {
    margin-bottom: 1rem;
}

.mt-lg {
    margin-top: 1.25rem;
}

.mb-lg {
    margin-bottom: 1.25rem;
}

.inline-form {
    display: inline;
}

.hidden {
    display: none !important;
}